{% load static %}
<html lang="es">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" charset="utf-8" http-equiv="X-UA-Compatible" >
        <link rel="icon" type="image/x-icon" href="{% static 'images/agvb1.png' %}"/>
        <link href="{% static 'css/loader.css' %}" rel="stylesheet" type="text/css" />
        <script src="{% static 'js/loader.js' %}"></script>
        <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700" rel="stylesheet">
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'css/plugins.css' %}" rel="stylesheet" type="text/css" />

        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.min.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB8FAH8l3hWpQVGsT35nMUyfE1Yq004lRQ"></script>

        <title>{% block title %}Home{% endblock %}</title>
        {% block stylesheet %}{% endblock %}

        <style>
            #map{
                height: calc(100vh - 58px);
                width: 100%!important;
            }
            .navbar .navbar-item.navbar-dropdown {
                margin-left: auto;
                margin-bottom: 10px;
                margin-top: 10px;
            }
            .meen{
                background: #fba820;
                color: #fff;
            }
            .leyenda{
                background: #fff;
                position: absolute;
                bottom: 0;
                right: 0;
                width: 170px;
                height: auto;
            }
            .lol{
                width: 300px;
            }
            .sani{
                width: 160px;
            }
            .xd{
                color: black!important;
                font-weight: 700!important;
                letter-spacing: normal!important;
                text-align: center!important;
                font-size: 0.70rem!important;
            }
            .table-sm td, .table-sm th {
                padding: 0.18rem!important;
            }
            .table {
                margin-bottom: 0.2rem!important;
                font-size: 0.65rem!important;
            }
        </style>

    </head>
    <body class="sidebar-noneoverflow">
        {% block body %}

        <!-- BEGIN LOADER -->
        <div id="load_screen">
            <div class="loader">
                <div class="loader-content">
                    <div class="spinner-grow align-self-center"></div>
                </div>
            </div>
        </div>
        <!--  END LOADER -->


        <div class="">
            {% block content %}
            {% endblock %}
        </div>
        {% endblock %}

        {% block javascript %}{% endblock %}

        <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
        <script src="{% static 'js/popper.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/perfect-scrollbar.min.js' %}"></script>
        <script src="{% static 'js/app.js' %}"></script>

        <script>
            $(document).ready(function() {
                App.init();
            });
        </script>
        <script src="{% static 'js/custom.js' %}"></script>
        <!--<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB8FAH8l3hWpQVGsT35nMUyfE1Yq004lRQ&callback=initMap" async defer></script>-->
    </body>
</html>
