{% extends 'app.html' %}

{% block title %}Agrovision - Cosecha{% endblock %}

{% load static %}

{% block content %}

<div id="vue-app">
    <!--  BEGIN NAVBAR  -->
    <div class="header-container fixed-top">
        <header class="header navbar navbar-expand-sm">
            <a href="javascript:void(0);" class="sidebarCollapse" data-placement="bottom"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg></a>

            <ul class="navbar-item flex-row">
                <li class="nav-item align-self-center page-heading">
                    <div class="page-header">
                        <div class="page-title">
                            <h3>&emsp;</h3>
                        </div>
                    </div>
                </li>
            </ul>

            <ul class="navbar-item flex-row navbar-dropdown">
                <li class="nav-item dropdown user-profile-dropdown  order-lg-0 order-1">
                    <a class="dropdown-toggle btn meen" href="#" id="cosecha" v-on:click="di('cosecha')" style="padding-left: 7px; padding-right: 7px;"><span class="text">Cosecha</span></a>
                    <a class="dropdown-toggle btn" href="#" id="pre-cosecha" v-on:click="di('pre-cosecha')" style="padding-left: 7px; padding-right: 7px;"><span class="text">Pre-Cosecha</span></a>
                    <a class="dropdown-toggle btn" href="#" id="pasadas" disabled="" style="padding-left: 7px; padding-right: 7px;"><span class="">Pasadas</span></a>
                    <a class="dropdown-toggle btn" href="{% url 'logout' %}" id="" style="padding-left: 7px; padding-right: 7px;"><span class=""><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-log-out"><path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path><polyline points="16 17 21 12 16 7"></polyline><line x1="21" y1="12" x2="9" y2="12"></line></svg></span></a>
                </li>
            </ul>
        </header>
    </div>
    <!--  END NAVBAR  -->

    <!--  BEGIN MAIN CONTAINER  -->
    <div class="main-container" id="container">

        <div class="overlay"></div>
        <div class="cs-overlay"></div>
        <div class="search-overlay"></div>

        <!--  BEGIN SIDEBAR  -->
        <div class="sidebar-wrapper sidebar-theme">
            <nav id="sidebar">

                <ul class="navbar-nav theme-brand flex-row  text-center">
                    <li class="nav-item theme-text">
                        <a href="#" class="nav-link" v-text="titu"></a>
                    </li>
                    <li class="nav-item toggle-sidebar">
                        <!--<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather sidebarCollapse feather-chevrons-left"><polyline points="11 17 6 12 11 7"></polyline><polyline points="18 17 13 12 18 7"></polyline></svg>-->
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather sidebarCollapse feather-menu"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg>
                    </li>
                </ul>

                <ul class="list-unstyled menu-categories p-3" id="accordionExample" aria-expanded="true">
                    <div v-if="templ === 'cosecha'">
                        <sidebar-cosecha></sidebar-cosecha>
                    </div>
                    <div v-else-if="templ === 'pre-cosecha'">
                        <sidebar-pre-cosecha></sidebar-pre-cosecha>
                    </div>
                    <div v-else-if="templ === 'pasadas'">

                    </div>
                </ul>
            </nav>
        </div>
        <!--  END SIDEBAR  -->

        <!--  BEGIN CONTENT AREA -->

        <div id="content" class="main-content">
            <div id="map"></div>
            <div v-if="tot_ley_cos > 0">
                <div class="leyenda">
                    <div class="col-lg-12">
                        <table class="table table-sm">
                            <thead>
                                <tr>
                                    <th style="text-align: center;" scope="col" colspan="2" align="center" v-text="ley_cos[7]"></th>
                                </tr>
                                <tr>
                                    <th scope="col">Día</th>
                                    <th scope="col">Color</th>
                                </tr>
                            </thead>
                            <tbody style="font-size: 0.75rem!important;">
                                <tr>
                                    <th>Lunes</th>
                                    <td class="xd" style="background: rgba(56,168,0,0.7);" v-text="ley_cos[0]"></td>
                                </tr>
                                <tr>
                                    <th>Martes</th>
                                    <td class="xd" style="background: rgba(255,148,0,0.7)" v-text="ley_cos[1]"></td>
                                </tr>
                                <tr>
                                    <th>Miércoles</th>
                                    <td class="xd" style="background: rgba(255,0,0,0.7);" v-text="ley_cos[2]"></td>
                                </tr>
                                <tr>
                                    <th>Jueves</th>
                                    <td class="xd" style="background: rgba(255,255,115,0.7);" v-text="ley_cos[3]"></td>
                                </tr>
                                <tr>
                                    <th>Viernes</th>
                                    <td class="xd" style="background: rgba(153,232,255,0.7);" v-text="ley_cos[4]"></td>
                                </tr>
                                <tr>
                                    <th>Sábado</th>
                                    <td class="xd" style="background: rgba(0,84,255,0.7);" v-text="ley_cos[5]"></td>
                                </tr>
                                <tr>
                                    <th>Domingo</th>
                                    <td class="xd" style="background: rgba(197,0,255,0.7);" v-text="ley_cos[6]"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
            <div v-if="tot_ley_pre_cos > 0">
                <div class="leyenda lol">
                    <div class="col-lg-12" style="font-size: 0.65rem; padding: 6px 8px;">
                        <table class="table table-sm table-bordered">
                            <thead>
                                <tr align="center">
                                    <th colspan="4" v-text="ley_pre_cos[9]"></th>
                                </tr>
                            </thead>
                        </table>
                        <table id="color_t1" class="table table-sm table-bordered">
                            <tbody>
                                <tr style="text-align: center">
                                    <th style="width: 25%; background: rgba(148,128,172,0.7)"><= Op-4d</th>
                                    <th style="width: 25%; background: rgba(255,159,159,0.7)">Op-3d</th>
                                    <th style="width: 25%; background: rgba(255,216,159,0.7)">Op-2d</th>
                                    <th style="width: 25%; background: rgba(255,255,150,0.7)">Op-1d</th>
                                </tr>
                                <tr style="text-align: center">
                                    <th style="width: 25%" v-text="ley_pre_cos[0]"></th>
                                    <th style="width: 25%" v-text="ley_pre_cos[1]"></th>
                                    <th style="width: 25%" v-text="ley_pre_cos[2]"></th>
                                    <th style="width: 25%" v-text="ley_pre_cos[3]"></th>
                                </tr>
                            </tbody>
                        </table>
                        <table id="color_t2" class="table table-sm table-bordered">
                            <tbody>
                                <tr style="text-align: center">
                                    <th style="width: 50%; background: rgba(56,168,0,0.7)">Óptimo (Op)</th>
                                    <th style="width: 50%" v-text="ley_pre_cos[4]"></th>
                                </tr>
                            </tbody>
                        </table>
                        <table id="color_t3" class="table table-sm table-bordered">
                            <tbody>
                                <tr style="text-align: center">
                                    <th style="width: 25%" v-text="ley_pre_cos[5]"></th>
                                    <th style="width: 25%" v-text="ley_pre_cos[6]"></th>
                                    <th style="width: 25%" v-text="ley_pre_cos[7]"></th>
                                    <th style="width: 25%" v-text="ley_pre_cos[8]"></th>
                                </tr>
                                <tr style="text-align: center">
                                    <th style="width: 25%; background: rgba(255,255,0,0.7)">Op+1d</th>
                                    <th style="width: 25%; background: rgba(255,150,0,0.7)">Op+2d</th>
                                    <th style="width: 25%; background: rgba(255,0,0,0.7); color: #ffffff">Op+3d</th>
                                    <th style="width: 25%; background: rgba(40,0,90,0.7); color: #ffffff">>= Op+4d</th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div v-if="errored">
                <div class="leyenda">
                    <div class="alert alert-danger fade show" role="alert" style="text-align: justify">
                        <strong>¡Alerta!</strong><br><strong>No se encontraron datos.</strong>
                    </div>
                </div>
            </div>
        </div>

        <!--  END CONTENT AREA  -->

    </div>
    <!-- END MAIN CONTAINER -->
</div>

{% endblock %}

{% block javascript %}
<script>
    axios.defaults.xsrfCookieName = 'csrftoken';
    axios.defaults.xsrfHeaderName = "X-CSRFTOKEN";

    Vue.component('sidebar-cosecha', {
        delimiters: ["[[", "]]"],
        template: `
            <form class="form-vertical mt-2" method="POST" name="f_cosecha" id="f_cosecha">
                <div class="form-group input-group-sm mb-3">
                    <label class="control-label">Fundo:</label>
                    <select id="fundo" name="fundo" class="form-control" @change="selecciona_etapa" v-model="cFundo">
                        <option value="01" selected>Cargando Fundos...</option>
                    </select>
                </div>
                <div class="form-group input-group-sm mb-3">
                    <label class="control-label">Etapa:</label>
                    <select id="etapa" name="etapa" class="form-control" @change="selecciona_campo" v-model="cEtapa">
                        <option value="0" selected>Todos</option>
                    </select>
                </div>
                <div class="form-group input-group-sm mb-3">
                    <label class="control-label">Campo:</label>
                    <select id="campo" name="campo" class="form-control" @change="selecciona_variedad" v-model="cCampo">
                        <option value="0" selected>Todos</option>
                    </select>
                </div>
                <div class="form-group input-group-sm mb-3">
                    <label class="control-label">Variedad:</label>
                    <select id="variedad" name="variedad" class="form-control" v-model="cVariedad">
                        <option value="0" selected>Todos</option>
                    </select>
                </div>
                <div class="form-group input-group-sm mb-3">
                    <label class="control-label">F. Inicial:</label>
                    <input type="date" class="form-control" id="fecha_i" name="fecha_i" required v-model="cFechaI">
                </div>
                <div class="form-group input-group-sm mb-3">
                    <label class="control-label">F. Final:</label>
                    <input type="date" class="form-control" id="fecha_f" name="fecha_f" required v-model="cFechaF">
                </div>
                <button class="form-control btn btn-dark" id="btnCosecha" @click.prevent="getListarCosecha">Consultar</button>
                {% csrf_token %}
            </form>
        `,
        data() {
            return {
                isEditing:  false,
                cFechaI:    '',
                cFechaF:    '',
                cFundo:     '1',
                cEtapa:     '0',
                cCampo:     '0',
                cVariedad:  '0',
            };
        },
        computed: {


        },
        methods: {
            trae_f_e_c_v() {
                if (localStorage.getItem('f')===null){
                    axios
                    .get('/fundos/', {
                        headers: {
                            'Authorization': 'Token ceecb25f61131ffb30089dff8371785f554c4df2'
                        },
                        params: {
                            'api': this.$parent.api
                        }
                    })
                    .then(response => {
                        this.$parent.f_e_c_v = response.data
                        fundos = []
                        etapas = []
                        campos = []
                        variedad = []
                        d_optimo = []
                        fake_f = ''
                        fake_e = ''
                        fake_c = ''
                        fake_v = ''
                        nf=0
                        ne=0
                        nee=0
                        nc=0
                        ncc=0
                        nv=0

                        for (const x in this.$parent.f_e_c_v) {
                            if(fake_f !== this.$parent.f_e_c_v[x]['id']){
                                fundos.push([this.$parent.f_e_c_v[x]['id'], this.$parent.f_e_c_v[x]['descrip']])
                                etapas.push([this.$parent.f_e_c_v[x]['id'], []])
                                nf++
                                ne=0
                            }

                            if(fake_e !== this.$parent.f_e_c_v[x]['e_id']){
                                campos.push([this.$parent.f_e_c_v[x]['e_id'], []])
                                etapas[nf-1][1][ne] = [this.$parent.f_e_c_v[x]['e_id'], this.$parent.f_e_c_v[x]['e_descrip']]
                                ne++
                                nee++
                                nc=0
                            }

                            if(fake_c !== this.$parent.f_e_c_v[x]['c_id']){
                                variedad.push([this.$parent.f_e_c_v[x]['c_id'], []])
                                campos[nee-1][1][nc] = [this.$parent.f_e_c_v[x]['c_id'], this.$parent.f_e_c_v[x]['c_descrip']]
                                nc++
                                ncc++
                                nv=0
                            }

                            variedad[ncc-1][1][nv] = [this.$parent.f_e_c_v[x]['v_id'], this.$parent.f_e_c_v[x]['v_descrip'], this.$parent.f_e_c_v[x]['dias']]
                            nv++

                            fake_f = this.$parent.f_e_c_v[x]['id']
                            fake_e = this.$parent.f_e_c_v[x]['e_id']
                            fake_c = this.$parent.f_e_c_v[x]['c_id']
                        }

                        localStorage.setItem("f", JSON.stringify(fundos));
                        localStorage.setItem("e", JSON.stringify(etapas));
                        localStorage.setItem("c", JSON.stringify(campos));
                        localStorage.setItem("v", JSON.stringify(variedad));
                    })
                    .catch(error => {
                        console.log(error);
                        this.errored = true
                    })
                    .finally(() => {
                        this.loading = false
                        this.fr_fundo();
                    })
                }
                else{
                    this.fr_fundo();
                }
            },

            fr_fundo(){
                fundos_ar = JSON.parse(localStorage.getItem('f'))
                document.getElementById('fundo').length = fundos_ar.length


                for(f=0; f<fundos_ar.length; f++){
                    document.getElementById('fundo').options[f].value=fundos_ar[f][0];
                    document.getElementById('fundo').options[f].text=fundos_ar[f][1];
                }

                this.selecciona_etapa();

            },

            selecciona_etapa(){
                fundo = this.cFundo;
                etapas_ar = JSON.parse(localStorage.getItem('e'))

                for (e=0; e<etapas_ar.length; e++){
                    if (etapas_ar[e][0]===parseInt(fundo)){
                        document.getElementById('etapa').length = etapas_ar[e][1].length + 1
                        for (es=0; es<etapas_ar[e][1].length; es++){
                            document.getElementById('etapa').options[es + 1].value=etapas_ar[e][1][es][0];
                            document.getElementById('etapa').options[es + 1].text=etapas_ar[e][1][es][1];
                        }
                        break;
                    }
                }

                if(fundo==='1'){
                    this.$parent.kml_l = "http://agvweb.com:3030/static/datos/fundos/c5.kmz"
                    this.cEtapa = '1'
                }else{
                    this.$parent.kml_l = "http://agvweb.com:3030/static/datos/fundos/a9.kmz"
                    this.cEtapa = '13'
                }

                if(this.$parent.start_s){
                    this.$parent.kml_fundo.setMap(null)
                    this.$parent.kml_fundo = new google.maps.KmlLayer(this.$parent.kml_l, {
                        map: this.$parent.map
                    })
                }

                this.selecciona_campo();
            },

            selecciona_campo(){
                etapa = this.cEtapa;
                campos_ar = JSON.parse(localStorage.getItem('c'))

                if(etapa === '0'){
                    document.getElementById('campo').length = 1
                    document.getElementById('campo').options[0].value='0';
                    document.getElementById('campo').options[0].text='Todos';
                }
                else{
                    for (c=0; c<campos_ar.length; c++){
                        if (campos_ar[c][0]===parseInt(etapa)){
                            document.getElementById('campo').length = campos_ar[c][1].length + 1
                            for (cs=0; cs<campos_ar[c][1].length; cs++){
                                document.getElementById('campo').options[cs + 1].value=campos_ar[c][1][cs][0];
                                document.getElementById('campo').options[cs + 1].text=campos_ar[c][1][cs][1];
                            }
                            break;
                        }
                    }
                }
                this.cCampo = '0'
                this.selecciona_variedad()
            },

            selecciona_variedad() {
                campo = this.cCampo;
                variedad_ar = JSON.parse(localStorage.getItem('v'))

                document.getElementById('variedad').length = 1
                document.getElementById('variedad').options[0].value='0';
                document.getElementById('variedad').options[0].text='Todos';
                this.cVariedad = '0'

                if(campo !== '0'){
                    document.getElementById('variedad').options[0].value='0';
                    document.getElementById('variedad').options[0].text='Todos';
                    for (c=0; c<variedad_ar.length; c++){
                        if (variedad_ar[c][0]===parseInt(campo)){
                            if (variedad_ar[c][1].length === 1){
                                document.getElementById('variedad').options[0].value=variedad_ar[c][1][0][0];
                                document.getElementById('variedad').options[0].text=variedad_ar[c][1][0][1];
                                this.cVariedad = variedad_ar[c][1][0][0];
                            }else{
                                document.getElementById('variedad').length = variedad_ar[c][1].length + 1
                                for (cs=0; cs<variedad_ar[c][1].length; cs++){
                                    document.getElementById('variedad').options[cs + 1].value=variedad_ar[c][1][cs][0];
                                    document.getElementById('variedad').options[cs + 1].text=variedad_ar[c][1][cs][1];
                                }
                            }
                            break;
                        }
                    }
                }
            },

            asignarD(){
                var hoy = new Date()
                var ayer = new Date(hoy.getTime() - (24 * 60 * 60 * 1000));
                var mes_hoy, mes_ayer, dia_hoy, dia_ayer;

                (hoy.getMonth()+1) <= 9 ? mes_hoy = "0"+(hoy.getMonth()+1) : mes_hoy = hoy.getMonth()+1;
                (ayer.getMonth()+1) <= 9 ? mes_ayer = "0"+(ayer.getMonth()+1) : mes_ayer = ayer.getMonth()+1;

                hoy.getDate()<=9 ? dia_hoy = "0" + (hoy.getDate()) : dia_hoy = hoy.getDate()
                ayer.getDate()<=9 ? dia_ayer = "0" + (ayer.getDate()) : dia_ayer = ayer.getDate()

                this.cFechaI = ayer.getFullYear() + "-" + mes_ayer + "-" + dia_ayer;
                this.cFechaF = hoy.getFullYear() + "-" + mes_hoy + "-" + dia_hoy;
            },

            getListarCosecha(){

				this.$parent.ley_cos = []
                this.$parent.tot_ley_cos = 0
                this.$parent.errored = false

				if (this.$parent.cosecha_obj != null){
					this.$parent.cosecha_obj.setMap(null)
				}

                document.getElementById("btnCosecha").innerHTML = '<span class="spinner-border align-self-center loader-sm " style="width: 1.5rem!important; height: 1.5rem!important;"></span> &emsp; Consultando...';
                document.getElementById("btnCosecha").disabled = true;

                let config = {
                    headers: {
                        'Content-type': 'application/json',
                        'Authorization': 'Token ceecb25f61131ffb30089dff8371785f554c4df2'
                    },
                    params: {
                        api:        this.$parent.api,
                        fecha_f:    this.cFechaF,
                        fecha_i:    this.cFechaI,
                        f_id:       this.cFundo,
                        e_id:       this.cEtapa,
                        c_id:       this.cCampo,
                        v_id:       this.cVariedad
                    },
                }

                axios
                    .get('/cosecha/',  config
                    ).then(response => {
                        var uri = response.data[0]

                        if(uri !== 0){
                            this.$parent.cosecha_l = "http://agvweb.com:3030/" + uri
                            this.$parent.ley_cos = response.data[1]
                            this.$parent.tot_ley_cos = response.data[1].length

                            this.$parent.cosecha_obj = new google.maps.KmlLayer(this.$parent.cosecha_l,{
                                map: this.$parent.map
                            })
                        }else{
							this.$parent.ley_cos = []
							this.$parent.tot_ley_cos = 0
                            this.$parent.errored = true
						}
                    })
                    .catch(error => {
                        console.log(error);
                        this.errored = true
                    })
                    .finally(() => {
                        this.loading = false
                        document.getElementById("btnCosecha").innerHTML = 'Consultar';
                        document.getElementById("btnCosecha").disabled = false;
                    })
            }

        },
        mounted() {
            this.trae_f_e_c_v();
            this.asignarD();
        }
    });

    Vue.component('sidebar-pre-cosecha', {
        delimiters: ["[[", "]]"],
        template: `
            <form class="form-vertical mt-2" method="POST" name="f_pre_cosecha" id="f_pre_cosecha">
                <div class="form-group input-group-sm mb-3">
                    <label class="control-label">Fundo:</label>
                    <select id="fundo" name="fundo" class="form-control" @change="selecciona_etapa" v-model="cFundo">
                        <option value="0" selected>Cargando Fundos...</option>
                    </select>
                </div>
                <div class="form-group input-group-sm mb-3">
                    <label class="control-label">Etapa:</label>
                    <select id="etapa" name="etapa" class="form-control" @change="selecciona_campo" v-model="cEtapa">
                        <option value="0" selected>Todos</option>
                    </select>
                </div>
                <div class="form-group input-group-sm mb-3">
                    <label class="control-label">Campo:</label>
                    <select id="campo" name="campo" class="form-control" @change="selecciona_variedad" v-model="cCampo">
                        <option value="0" selected>Todos</option>
                    </select>
                </div>
                <div class="form-group input-group-sm mb-3">
                    <label class="control-label">Variedad:</label>
                    <select id="variedad" name="variedad" class="form-control" @change="selecciona_dias" v-model="cVariedad">
                        <option value="0" selected>Todos</option>
                    </select>
                </div>
                <div class="form-group input-group-sm mb-3">
                    <label class="control-label">Días Optimos:</label>
                    <input type="number" id="dias" name="dias" class="form-control" required v-model="cDias">
                </div>
                <div class="form-group input-group-sm mb-3">
                    <label class="control-label">Fecha:</label>
                    <input type="date" class="form-control" id="fecha" name="fecha" required v-model="cFecha">
                </div>
                <button class="form-control btn btn-dark" id="btnPreCosecha" @click.prevent="getListarPreCosecha">Consultar</button>
                {% csrf_token %}
            </form>
        `,
        data() {
            return {
                isEditing: false,
                cFecha:     '',
                cFundo:     '1',
                cEtapa:     '0',
                cCampo:     '0',
                cVariedad:  '0',
                cDias:      0,
                dias:       []
            };
        },
        computed: {


        },
        methods: {
            fr_fundo(){
                fundos_ar = JSON.parse(localStorage.getItem('f'))
                document.getElementById('fundo').length = fundos_ar.length

                for(f=0; f<fundos_ar.length; f++){
                    document.getElementById('fundo').options[f].value=fundos_ar[f][0];
                    document.getElementById('fundo').options[f].text=fundos_ar[f][1];
                }

                this.selecciona_etapa();
            },

            selecciona_etapa(){
                fundo = this.cFundo;
                etapas_ar = JSON.parse(localStorage.getItem('e'))

                for (e=0; e<etapas_ar.length; e++){
                    if (etapas_ar[e][0]===parseInt(fundo)){
                        document.getElementById('etapa').length = etapas_ar[e][1].length + 1
                        for (es=0; es<etapas_ar[e][1].length; es++){
                            document.getElementById('etapa').options[es + 1].value=etapas_ar[e][1][es][0];
                            document.getElementById('etapa').options[es + 1].text=etapas_ar[e][1][es][1];
                        }
                        break;
                    }
                }

                if(fundo==='1'){
                    this.$parent.kml_l = "http://agvweb.com:3030/static/datos/fundos/c5.kmz"
                    this.cEtapa = '1'
                }else{
                    this.$parent.kml_l = "http://agvweb.com:3030/static/datos/fundos/a9.kmz"
                    this.cEtapa = '13'
                }

                this.$parent.kml_fundo.setMap(null)
                this.$parent.kml_fundo = new google.maps.KmlLayer(this.$parent.kml_l, {
                    map: this.$parent.map
                })

                this.selecciona_campo();
            },

            selecciona_campo(){
                etapa = this.cEtapa;
                campos_ar = JSON.parse(localStorage.getItem('c'))

                if(etapa ==='0'){
                    document.getElementById('campo').length = 1
                    document.getElementById('campo').options[0].value='0';
                    document.getElementById('campo').options[0].text='Todos';
                    this.cCampo = '0'
                }
                else{
                    for (c=0; c<campos_ar.length; c++){
                        if (campos_ar[c][0]===parseInt(etapa)){
                            document.getElementById('campo').length = campos_ar[c][1].length + 1
                            for (cs=0; cs<campos_ar[c][1].length; cs++){
                                document.getElementById('campo').options[cs + 1].value=campos_ar[c][1][cs][0];
                                document.getElementById('campo').options[cs + 1].text=campos_ar[c][1][cs][1];
                            }
                            break;
                        }
                    }
                }
                this.cCampo = '0'
                this.selecciona_variedad()
            },

            selecciona_variedad(){
                this.dias = []
                this.cDias = 0
                campo = this.cCampo;
                variedad_ar = JSON.parse(localStorage.getItem('v'))

                document.getElementById('variedad').length = 1
                document.getElementById('variedad').options[0].value='0';
                document.getElementById('variedad').options[0].text='Todos';
                this.cVariedad = '0'

                if(campo !== '0'){
                    document.getElementById('variedad').options[0].value='0';
                    document.getElementById('variedad').options[0].text='Todos';
                    for (c=0; c<variedad_ar.length; c++){
                        if (variedad_ar[c][0]===parseInt(campo)){
                            if (variedad_ar[c][1].length === 1){
                                document.getElementById('variedad').options[0].value=variedad_ar[c][1][0][0];
                                document.getElementById('variedad').options[0].text=variedad_ar[c][1][0][1];
                                this.cVariedad = variedad_ar[c][1][0][0];
                                this.dias.push([variedad_ar[c][1][0][0], variedad_ar[c][1][0][2]])
                            }else{
                                document.getElementById('variedad').length = variedad_ar[c][1].length + 1
                                for (cs=0; cs<variedad_ar[c][1].length; cs++){
                                    document.getElementById('variedad').options[cs + 1].value=variedad_ar[c][1][cs][0];
                                    document.getElementById('variedad').options[cs + 1].text=variedad_ar[c][1][cs][1];
                                    this.dias.push([variedad_ar[c][1][cs][0], variedad_ar[c][1][cs][2]])
                                }
                            }
                            break;
                        }
                    }
                }
                this.selecciona_dias()
            },

            selecciona_dias(){
                for (v=0; v<this.dias.length; v++){
                    if(parseInt(this.cVariedad) === this.dias[v][0]){
                        this.cDias = parseInt(this.dias[v][1])
                    }else if (parseInt(this.cVariedad) === 0) {
                        this.cDias = 0
                    }
                }
                document.getElementById("dias").disabled = parseInt(this.cDias) === 0;
            },

            asignarD(){
                var f = new Date()
                var fm
                (f.getMonth()+1) <= 9 ? fm = "0"+(f.getMonth()+1) : fm = f.getMonth()+1
                var fd
                f.getDate()<=9 ? fd = "0"+(f.getDate()) : fd = f.getDate()
                var f_a_r=f.getFullYear() + "-" + fm + "-" + fd
                this.cFecha=f_a_r
            },

            getListarPreCosecha(){

				this.$parent.ley_pre_cos = []
                this.$parent.tot_ley_pre_cos = 0
                this.$parent.errored = false

				if (this.$parent.cosecha_obj != null){
					this.$parent.cosecha_obj.setMap(null)
				}

                document.getElementById("btnPreCosecha").innerHTML = '<span class="spinner-border align-self-center loader-sm " style="width: 1.5rem!important; height: 1.5rem!important;"></span> &emsp; Consultando...';
                document.getElementById("btnPreCosecha").disabled = true;

                let config = {
                    headers: {
                        'Content-type': 'application/json',
                        'Authorization': 'Token ceecb25f61131ffb30089dff8371785f554c4df2'
                    },
                    params: {
                        api:    this.$parent.api,
                        fechaf: this.cFecha,
                        f_id:   this.cFundo,
                        e_id:   this.cEtapa,
                        c_id:   this.cCampo,
                        v_id:   this.cVariedad,
                        v_dias: this.cDias
                    },
                }

                axios
                    .get('/pre_cosecha/',  config
                    ).then(response => {
                        var uri = response.data[0]

                        if(uri !== 0){
                            this.$parent.cosecha_l = "http://agvweb.com:3030/" + uri
                            this.$parent.ley_pre_cos = response.data[1]
                            this.$parent.tot_ley_pre_cos = response.data[1].length

                            this.$parent.cosecha_obj = new google.maps.KmlLayer(this.$parent.cosecha_l,{
                                map: this.$parent.map
                            })

                        }else{
							this.$parent.ley_pre_cos = []
							this.$parent.tot_ley_pre_cos = 0
                            this.$parent.errored = true
						}
                    })
                    .catch(error => {
                        console.log(error);
                        this.errored = true
                    })
                    .finally(() => {
                        this.loading = false
                        document.getElementById("btnPreCosecha").innerHTML = 'Consultar';
                        document.getElementById("btnPreCosecha").disabled = false;
                    })
            }
        },
        mounted() {
            this.fr_fundo();
            this.asignarD();

        }
    });

    let app = new Vue({
        delimiters: ["[[", "]]"],
        el: '#vue-app',
        data: {
            f_e_c_v: [],
            ley_cos: [],
            tot_ley_cos: 0,
            ley_pre_cos: [],
            tot_ley_pre_cos: 0,
            errored: false,
            loading: true,
            titu: 'Cosecha',
            templ: 'cosecha',
            map: null,
            kml_l: "http://agvweb.com:3030/static/datos/fundos/c5.kmz",
            kml_fundo: null,
            cosecha_l: '',
            cosecha_obj: null,
            start_s: false,
            api: '{{ api|safe }}'
        },
        computed: {
        },
        methods: {
            di: function (mensaje) {
                this.templ = mensaje
                var intro = document.getElementById(mensaje);
                intro.classList.add('meen')
                this.ley_cos = []
                this.tot_ley_cos = 0
                this.ley_pre_cos = []
                this.tot_ley_pre_cos = 0

                if (mensaje==='cosecha'){
                    this.titu = 'Cosecha'
                    document.getElementById('pre-cosecha').classList.remove('meen')
                    document.getElementById('pasadas').classList.remove('meen')
                }else if (mensaje==='pre-cosecha'){
                    this.titu = 'Pre-Cosecha'
                    document.getElementById('cosecha').classList.remove('meen')
                    document.getElementById('pasadas').classList.remove('meen')
                }else if (mensaje==='pasadas'){
                    this.titu = 'Pasadas'
                    document.getElementById('pre-cosecha').classList.remove('meen')
                    document.getElementById('cosecha').classList.remove('meen')
                }

                document.title = "Agrovision - "+this.titu

                if (this.cosecha_obj !== null){
                    this.cosecha_obj.setMap(null)
                }
            },
            initializeMap() {
                this.map = new google.maps.Map(document.getElementById("map"), {
                    center: { lat: -6.145751, lng: -79.998434 },
                    zoom: 16,
                    mapTypeId: 'satellite',
                    mapTypeControl: true,
                    streetViewControl: false,
                    mapTypeControlOptions: {
                        position: google.maps.ControlPosition.TOP_LEFT
                    },
                    zoomControlOptions: {
                        position: google.maps.ControlPosition.LEFT_BOTTOM,
                    },
                    fullscreenControlOptions:{
                        position: google.maps.ControlPosition.TOP_RIGHT,
                    }
                });
                this.kml_fundo = new google.maps.KmlLayer(this.kml_l, {
                    map: this.map
                })
                this.start_s = true
            }
        },
        mounted() {
            this.initializeMap()
        }
    });
</script>
{% endblock %}