<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <title>Agrovision - Cosecha</title>
    <link rel="icon" type="image/x-icon" href="../../static/images/agvb1.png"/>
    <link href="../../static/css/loader.css" rel="stylesheet" type="text/css" />
    <link href="../../static/css/form1.css" rel="stylesheet" type="text/css" />
    <script src="../../static/js/loader.js"></script>
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700" rel="stylesheet">
    <link href="../../static/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="../../static/css/plugins.css" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->

</head>
<body class="sidebar-noneoverflow">

    <!-- BEGIN LOADER -->
    <div id="load_screen">
        <div class="loader">
            <div class="loader-content">
                <div class="spinner-grow align-self-center"></div>
            </div>
        </div>
    </div>
    <!--  END LOADER -->

    <div class="form-container">
        <div class="form-form">
            <div class="form-form-wrap">
                <div class="form-container">
                    <div class="form-content">

                        <h1  style="text-align-last: center;">Iniciar <span class="brand-name">Sesión</span></h1>
                        <br>
                        <form class="text-left" method="post">
                            {% csrf_token %}
                            <div class="form">
                                {% if form.error_messages %}
                                    <div>{{ form.get_invalid_login_error }}</div>
                                {% endif %}
                                <div id="username-field" class="field-wrapper input">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
                                    <!--<input id="username" name="username" type="text" minlength="8" maxlength="8" @keypress="soloEnteros($event)"  v-model="fillLogin.cDni" class="form-control" placeholder="DNI">-->
                                    {{ form.username }}
                                </div>

                                <div id="password-field" class="field-wrapper input mb-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-lock"><rect x="3" y="11" width="18" height="11" rx="2" ry="2"></rect><path d="M7 11V7a5 5 0 0 1 10 0v4"></path></svg>
                                    <!--<input id="password" name="password" type="password" v-model="fillLogin.cContrasena" class="form-control" placeholder="Contraseña">-->
                                    {{ form.password }}
                                </div>

                                <div class="field-wrapper" style="text-align-last: center;">
                                    <button type="submit" id="btn_login" class="btn btn-primary" value="" style="background: #fba820!important; color: #fff!important;"  onclick="miFunc()">Iniciar Sesión</button>
                                </div>

                            </div>
                        </form>
                        <p class="terms-conditions" align="justify">Copyright © 2021 <a style="color: #fba820" target="_blank" href="https://agrovisioncorp.com/">Agrovision Perú SAC</a> , Todos los Derechos Reservados. <label style="color: #5153654d;">◢◤</label></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-image">
            <div class="l-image">
            </div>
        </div>
    </div>

    <!-- BEGIN GLOBAL MANDATORY SCRIPTS -->
    <script src="../../static/js/jquery-3.1.1.min.js"></script>
    <script src="../../static/js/popper.min.js"></script>
    <script src="../../static/js/bootstrap.min.js"></script>
    <script src="../../static/js/perfect-scrollbar.min.js"></script>
    <script src="../../static/js/app.js"></script>

    <script>
        $(document).ready(function() {
            App.init();
        });

		function miFunc(){
            document.getElementById("btn_login").innerHTML = '<span class="spinner-border align-self-center loader-sm " style="width: 1.5rem!important; height: 1.5rem!important;"></span> &emsp; Ingresando...';
        }
    </script>
    <script src="../../static/js/custom.js"></script>
</body>
</html>